@tailwind base;
@tailwind components;
@tailwind utilities;


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
.notification {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.notification.visible {
  opacity: 0.85;
}
.reset-zoom {
  position: absolute;
  font-size: 0.65rem;
  color:#ccc;
  top: 0.85rem;
  right: 1rem;
}
.loading {
  width: 1rem;
  height: 1rem;
  margin: 0 5px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: hsl(205, 78%, 60%);
  animation: spinner 0.6s linear infinite;
}
.loadingBig {
  width: 5rem;
  height: 5rem;
  margin: auto;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: hsl(205, 78%, 60%);
  animation: spinner 0.6s linear infinite;
}
.loadingOne {
  width: 1rem;
  height: 1rem;
  margin: auto;
  margin-left: 4px;
}
.loadingTwo {
  width: 3rem;
  height: 3rem;
  margin: auto;
}
.loadingThree {
  width: 10rem;
  height: 10rem;
  margin: auto;
}
@keyframes spinRight {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }